html, body, #map {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    padding-top: 50px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0;
}
#loading {
    position: absolute;
    width: 220px;
    height: 19px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -110px;
    z-index: 20001;
}
.leaflet-control-layers label {
    font-weight: normal;
    margin-bottom: 0;
}
.table {
    margin-bottom: 0;
}
.navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: white;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.navbar .description {
    float: left;
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.typeahead {
    background-color: #FFFFFF;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 4px;
    padding: 4px 0;
    width: 100%;
    max-height: 300px;
    overflow: auto;
}
.tt-suggestion {
    font-size: 14px;
    line-height: 20px;
    padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
    cursor: pointer;
}
.tt-suggestion p {
    margin: 0;
}
.tt-suggestion + .tt-suggestion {
    border-top: 1px solid #ccc;
}
.typeahead-header {
    margin: 0 5px 5px 5px;
    padding: 3px 0;
    border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
.leaflet-popup-content {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.leaflet-popup-content-wrapper {
    border-radius: 5px;
}
.leaflet-sidebar {
    z-index: 1020;
    padding: 0;
    width: 300px;
}
.leaflet-sidebar .close {
    right: 0;
    top: 5px;
    background: transparent;
}

.leaflet-right {
    transition: right 0.1s;
}

.leaflet-sidebar.left {
    transition: left 0.1s, width 0.1s;
}

.leaflet-sidebar.right {
    transition: right 0.1s, width 0.1s;
    padding-left: 0;
}

.info {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font: 14px/18px Arial,Helvetica,sans-serif;
    padding: 6px 8px;
}

.legend {
    padding-top: 10px;
}

@media (max-width: 992px) {
    .navbar .navbar-brand {
        font-size: 18px;
    }
}
@media (max-width: 767px){
    .url-break {
        word-break: break-all;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

@media(min-width:1200px){
    .leaflet-sidebar {
        width: 310px;
    }

    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 310px;
    }

    .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 310px;
    }
}

/* Print Handling */
@media print {
    .navbar {
        display: none !important;
    }
    .leaflet-control-container {
        display: none !important;
    }
}
