development:
  API_URL: http://localhost:8080
  MAP_MAIN_LAYER: http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
  MAP_MAIN_LAYER_NAME: 'OSM Mapnik'
  MAP_MAIN_LAYER_ATTRIBUTION: Map data © <a href="http://www.openstreetmap.org">OpenStreetMap contributors</a>
  OPEN_CELL_ID_API_KEY: 12345

production:
  API_URL:
  MAP_MAIN_LAYER: http://api.tiles.mapbox.com/v3/examples.map-i86nkdio/{z}/{x}/{y}.png
  MAP_MAIN_LAYER_NAME: 'Mapbox'
  MAP_MAIN_LAYER_ATTRIBUTION: Map data © <a href="http://www.openstreetmap.org">OpenStreetMap contributors</a>
  OPEN_CELL_ID_API_KEY: 12345
  deploy:
     host: example.com
     port: 22
     dir: /var/www/cellview
