development:
  API_URL: http://localhost:8080
  MAPBOX_API_KEY: examples.map-i86nkdio

production:
  API_URL: /
  MAPBOX_API_KEY: examples.map-i86nkdio
  deploy:
     host: example.com
     port: 22
     dir: /var/www/cellview
